body {
  font: 13px "Source Sans Pro", Arial, Helvetica, sans-serif;
  background-color: #f0f0f0; //Farbe von Hintergrund
  color: #1d1d1d; //Schriftfarbe
  text-align: center;
}

.item{
  border: 2px solid rgba(0, 0, 0, 0.8);
}


@media (min-width: 12em)  {	/* zweispaltiges Layout für mittlere Viewports */
  main {
    min-width: 20em;
    margin-left: 15em;
  }

  block {
    float: right;
    width: 50%;
    border: 2px solid rgba(0, 0, 0, 0.8);
    font-size: 40px;
    background-color: #d9d9d9;
  }
  .grid-container{
<<<<<<< HEAD

=======
  
>>>>>>> 6960071fc85f39e0aa926d6c0b8cd8e44e5c95ef
  }

  block2 {
    float: left;
    width: 50%;
    border: 2px solid rgba(0, 0, 0, 0.8);
    font-size: 40px;
    background-color: #d9d9d9;
  }
}
