body {
  font: 13px "Source Sans Pro", Arial, Helvetica, sans-serif;
  background-color: #f0f0f0; //Farbe von Hintergrund
  color: #1d1d1d; //Schriftfarbe
  text-align: center;
}



@media (min-width: 12em)  {	/* zweispaltiges Layout für mittlere Viewports */
  main {
    min-width: 20em;
    margin-left: 15em;
  }

  block {
    float: right;
    width: 12em;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 40px;
    background-color: #d9d9d9;
  }

  block2 {
    float: left;
    width: 12em;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 40px;
    background-color: #d9d9d0;
  }
}
